body {
    text-align: center;
}
.choice-button {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: none;
    border-radius: 75px;
    background-color: rgb(164, 212, 130);
    cursor: pointer;
}
.choice-img {
    height: 100px;
}
.choice-button:hover {
    background-color: aqua;
}

